<div class="columns is-desktop">
  <div class="column">
    <figure class="image is-4by3">
        <img src="./assets/66772012_p0.jpg" alt="">
    </figure>
  </div>
  <div class="column">
    <div class="title">
      Fifth SUN Nasa Logo Adult T-Shirt
    </div>
    <div class="price">
      <div>$17.5</div>
      <div class="tag">$12.99 <i>Save 15%</i></div>
    </div>
    <div class="card">
      <div class="card-content">
        <div class="field">
          <span>Size:</span>
          <div class="control">
            <div class="select">
              <select>
                <option>Select dropdown</option>
                <option>With options</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <span>Color:</span>
          <div class="control">
            <div class="select">
              <select>
                <option>Select dropdown</option>
                <option>With options</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <span>Quantity:</span>
          <div class="control">
            <div class="select">
              <select>
                <option>Select dropdown</option>
                <option>With options</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <a class="button is-success">Buy Now</a>
      <a class="button is-info">Add to Cart</a>
    </div>
    <div class="card">
      <div class="card-header">
        <div class="card-header-title">
            Lorem ipsum dolor sit amet
        </div>
      </div>
      <div class="card-content">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </div>
</div>