/* Colors */
$blue: #2196F3;
$red: #F44336;
$white: #FFFFFF;
$black: #000000;
$gray: #9E9E9E;
$dark-gray: #616161;

/* Sizes */
$gap-sm: 1.2rem;
$gap-xs: 1.4rem;
$gap-md: 1.8rem;
$gap-lg: 2rem;
$gap-xl: 4rem;
$gap-xxl: 8rem;

/* Font Sizes */
$font-size-sm: 1.2rem;
$font-size-xs: 1.4rem;
$font-size-md: 1.8rem;
$font-size-lg: 2rem;
$font-size-xl: 2.2rem;

/* Z-Index  */
$z-index-negative: -1;
$z-index-default: 0;
$z-index-positive: 1;
$z-index-overflow: 1000;

/* Border Radius */
$border-radius-default: 2.0rem;

/* Opacity */
$opacity-default: 0.65;