<mat-card class="root">
    <div class="image">
        <div class="social-icons">
            <i class="icon ion-logo-facebook"></i>
            <i class="icon ion-logo-twitter"></i>
            <i class="material-icons">email</i>
        </div>
        <img src="./assets/image.png" alt="">
    </div>
    <div class="description">
        <span class="title">
            Fifth SUN Nasa Logo Adult T-Shirt
        </span>
        <span class="price">
            $17.99
        </span>
        <a href="">
            Add to Cart
        </a>
        <button mat-button>
            VIEW MORE
        </button>
    </div>
</mat-card>