<section class="section container">
  <div class="columns is-desktop">
    <div class="column">
      <table class="table">
        <thead>
        <tr>
          <th>3 Items in your shopping cart</th>
          <th>Qty</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <div class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                  <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <span>Fifth SUN Nasa Logo Adult T-Shirt</span>
                  <a href="">Remove</a>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="level">
              <span>Size:</span>
              <div class="field">
                <div class="control">
                  <div class="select">
                    <select>
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="price">
              <div>$17.5</div>
              <div class="tag">$12.99
                <i>Save 15%</i>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                  <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <span>Fifth SUN Nasa Logo Adult T-Shirt</span>
                  <a href="">Remove</a>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="level">
              <span>Size:</span>
              <div class="field">
                <div class="control">
                  <div class="select">
                    <select>
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="price">
              <div>$17.5</div>
              <div class="tag">$12.99
                <i>Save 15%</i>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="media">
              <figure class="media-left">
                <p class="image is-64x64">
                  <img src="https://bulma.io/images/placeholders/128x128.png">
                </p>
              </figure>
              <div class="media-content">
                <div class="content">
                  <span>Fifth SUN Nasa Logo Adult T-Shirt</span>
                  <a href="">Remove</a>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="level">
              <span>Size:</span>
              <div class="field">
                <div class="control">
                  <div class="select">
                    <select>
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="price">
              <div>$17.5</div>
              <div class="tag">$12.99
                <i>Save 15%</i>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="columns is-desktop">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="field">
            <span>Full Name</span>
            <div class="control">
              <input class="input is-primary" type="text" placeholder="Primary input">
            </div>
          </div>
          <div class="field">
            <span>Street Adress</span>
            <div class="control">
              <input class="input is-primary" type="text" placeholder="Primary input">
            </div>
          </div>
          <div class="level">
            <div class="field">
              <span>Town or City</span>
              <div class="control">
                <input class="input is-primary" type="text" placeholder="Primary input">
              </div>
            </div>
            <div class="field">
              <span>Post Code</span>
              <div class="control">
                <input class="input is-primary" type="text" placeholder="Primary input">
              </div>
            </div>
          </div>
          <div class="field">
            <span>Country:</span>
            <div class="control">
              <div class="select is-primary">
                <select>
                  <option>1</option>
                  <option>2</option>
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <span>E-mail Adress</span>
            <div class="control">
              <input class="input is-primary" type="text" placeholder="Primary input">
            </div>
          </div>
          <div class="right">
            <label class="checkbox">
              Include me in the future updates
              <input type="checkbox">
            </label>
          </div>
          <div class="right">
            <a class="button is-primary is-medium">
              <span>Pay with</span>
              <span class="icon">
              <i class="fab fa-cc-paypal"></i>
            </span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="level">
            <div>Bag Total</div>
            <div>26.30$</div>
          </div>
          <div class="level">
            <div>Sales discounts</div>
            <div>26.30$</div>
          </div>
          <div class="level">
            <div>Cupon Discount</div>
            <div>0$</div>
          </div>
          <div class="level">
            <div>Delivery</div>
            <div>1.10$</div>
          </div>
          <div class="level">
            <div>Tax</div>
            <div>3.05$</div>
          </div>
          <div class="level">
            <div><strong>Total</strong></div>
            <div><strong>65.40$</strong></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
