.buttons {
  display: grid;
  grid-auto-columns: 1fr 1fr 1fr;
}

.button {
  grid-row: 1;
}

.notification {
  height: 260px;
  overflow: hidden;
}

.instagram {
  background: #dd2a7b;
}

.facebook {
  background: #3b5a99;
}

.twitter {
  background: #25a8e0;
}

.icon.is-large {
  font-size: 1.25em;
}

.readmore {
  font-size: 1.1em;
}
