<div class="card">
  <div class="card-image">
    <figure class="image is-16by9">
      <img class="pointer" [src]="post.image.url" [title]="post.image.title" [routerLink]="['/blog', post.title]">
    </figure>
  </div>
  <div class="card-content">
    <div class="columns">
      <div class="column">
        <div class="content">
          <a class="is-size-3" href="#">#{{post.categories[0]}}</a>
        </div>
        <div class="content">
          <span class="title pointer" [routerLink]="['/blog', post.title]">{{post.title}}</span>
          <hr class="has-background-grey-darker">
        </div>
        <vnx-post-time class="content" [date]="post.date" [duration]="post.duration"></vnx-post-time>
      </div>
      <div class="column">
        <div class="content">
          <vnx-post-share></vnx-post-share>
        </div>
        <div class="content is-medium">
          <div class="notification line-clamp" ellipsis>
            <p>{{post.content}}</p>
          </div>
        </div>
        <div class="content is-medium">
          <div class="read-more is-pulled-left">
            <p><a class="readmore" [routerLink]="['/blog', post.title]">Read More...</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
