.section {
  background-repeat: no-repeat;
  background-size: 100%;
}

.content {
  background: rgba(255, 255, 255, 0.8);
  margin: 33vw auto 0;
  width: 80vw;
  display: grid;
  grid-column-gap: 40px;
  grid-template-columns: [post] 2fr [sidebar] 1fr;
}

.post {
  grid-area: post;
  padding: 2em;
}

vnx-sidebar {
  padding-top: 2em;
  padding-right: 2em;
  grid-area: sidebar;
}
