<section class="section has-text-centered">
  <h1 class="title">Coming Soon, please stay connected on social channels.</h1>
  <div class="buttons">
    <a class="button is-link is-medium facebook">
      <span class="icon is-large">
        <i class="fab fa-facebook-f"></i>
      </span>
    </a>
    <a class="button is-link is-medium twitter">
      <span class="icon is-large">
        <i class="fab fa-twitter"></i>
      </span>
    </a>
    <a class="button is-link is-medium instagram">
      <span class="icon is-large">
        <i class="fab fa-instagram"></i>
      </span>
    </a>
  </div>
</section>
